html {
	background-color: #D3E1FF
}

body {
	margin: 0;
	font-family: 'Arial';
	font-size: 13px;
	color: #333;
	line-height: 20px;
}

p {
	margin-bottom: 10px
}

button {
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: .5em 1em;
	text-decoration: none;
	border-radius: 2px;
}

strong {
	font-weight: bold
}

hr {
	border-color: #DDD;
	border-style: inherit;
	border-width: 1px;
	border-bottom: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear: both;
}

.main {
	width: 720px;
	height: 420px;
	margin: 20px auto;
	padding: 40px;
	background-color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.board {
	width: 416px;
	height: 416px;
	border: 2px solid #ddd;
}

.board > div.card {
	width: 100px;
	height: 100px;
	float: left;
	background: url('../img/card_bg.gif') no-repeat 0 0;
	background-size: cover;
	border: 2px solid #FFF;
}

.board > .card.selected {
	border: 2px solid #1F8DD6;
}

.options {
	width: 290px;
	height: 416px;
}

.logo {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.game-info {
	height: 250px;
	overflow-y: auto;
	margin-bottom: 10px;
	border: 1px solid #DDD;
	padding: 10px;
	font-size: 14px;
	line-height: 18px
}

button.primary {
	background: #1F8DD6;
	color: #FFF;
	border: 1px solid #1F8DD6;
	width: auto;
	padding: 0.5em 1em;
}

button.primary:hover {
	background-image: -webkit-linear-gradient(#6BAFDB 0,#0084DD 100%,rgba(0, 0, 0, 0) 50%);
	background-image: -moz-linear-gradient(#6BAFDB 0,#0084DD 100%,transparent 50%);
	background-image: -ms-linear-gradient(#6BAFDB 0,#0084DD 100%,transparent 50%);
	background-image: -o-linear-gradient(#6BAFDB 0,#0084DD 100%,transparent 50%);
	background-image: linear-gradient(#6BAFDB 0,#0084DD 100%,rgba(0, 0, 0, 0) 50%);
}

button.default {
	background: #fff;
	color: #666;
	border: 1px solid #ccc;
	width: auto;
	padding: 0.5em 1em;
}

button.default:hover {
	background-image: -webkit-linear-gradient(#EEE 0,#CCC 100%,rgba(0, 0, 0, 0) 50%);
	background-image: -moz-linear-gradient(#EEE 0,#CCC 100%,transparent 50%);
	background-image: -ms-linear-gradient(#EEE 0,#CCC 100%,transparent 50%);
	background-image: -o-linear-gradient(#EEE 0,#CCC 100%,transparent 50%);
	background-image: linear-gradient(#EEE 0,#CCC 100%,rgba(0, 0, 0, 0) 50%);
}

button.restart {
	width: 100%;
	font-size: 14px;
	padding: 1em 1em;
}

.modal {
	display: none;
	-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, top 0.3s ease-out;
	-o-transition: opacity 0.3s linear, top 0.3s ease-out;
	transition: opacity 0.3s linear, top 0.3s ease-out;
	top: -25%;
	position: fixed;
	left: 50%;
	z-index: 1050;
	width: 560px;
	height: auto;
	max-height: 600px;
	min-height: 320px;
	margin-left: -280px;
	background-color: #FFF;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: none;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	padding: 5px;
	font-size: 14px;
}

.modal.open {
	display: block;
	top: 10%;
}

.modal-backdrop {
	display: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}

.modal-backdrop.open {
	display: block;
}

.close {
	float: right;
	background: none;
	border: none;
	outline: none;
	color: #CDCDCD;
	font-size: 28px;
	padding: 0;
	line-height: 20px;
}

.close:HOVER {
	color: #BBB;
}

.modal .modal-head {
	padding: 20px;
	border-bottom: 1px solid #DDD;
	font-size: 22px;
}

.modal .modal-body {
	padding: 20px;
}

.modal .modal-foot {
	padding: 20px;
	border-top: 1px solid #DDD;
}

form {

}

form div.label {
	margin-bottom: 15px;
}

form p.help {
	display: inline;
	margin-left: 10px 
}

form div.label.error {
	color: #EC2400;
}

input[type="text"] {
	padding: 8px 10px;
	width: 240px;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type="text"]:focus {
	border-color: #1F8DD6;
}

form div.label.error input[type="text"] {
	border-color: #EC2400;
}